<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

    <!-- Forgot Password Start -->
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <form asp-controller="User" asp-action="ForgotPassword" method="post">
                        <div class="bg-light rounded p-4 my-4 mx-3">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h3 class="text-primary">
                                    <img alt="" src="~/img/logo.png" width="100" height="100">
                                </h3>
                                <h3>CoCo</h3>
                            </div>
                            <div class="mb-4">
                                <label>Vui lòng nhập email của bạn</label>
                            </div>
                            <div class="form-group">
                                <div class="mb-8">
                                    <label for="email">Email</label>
                                    <input type="text" name="toEmail" class="form-control email" id="email" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="bg-light rounded h-100 p-4 text-center">
                                    <button type="submit" class="btn btn-primary">Gửi</button>
                                    <a href="~/Home/ViewSignIn" class="btn btn-danger">Quay lại</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
