@model COCOApp.Models.User
@{
    Layout = "_LayoutStoreDashBoard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin cá nhân</title>
    <link rel="stylesheet" href="~/css/profilestyle.css">
</head>

<body>
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Thông tin cá nhân
        </h4>
        <form asp-controller="User" asp-action="UpdateUser" method="post">
            <input type="text" name="id" class="form-control" value="@Model.Id" hidden>
            <input type="text" name="password" class="form-control" value="test1234" hidden>
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-bs-toggle="list"
                               href="#account-general">Thông tin chung</a>
                            <a class="list-group-item list-group-item-action" data-bs-toggle="list"
                               href="#account-info">Thông tin chi tiết</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="Username" class="required"> Tên tài khoản</label>
                                        <input asp-for="Username" class="form-control" placeholder="Nhập tên tài khoản..." required>
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BuyerDetail.Fullname" class="required"> Họ và tên</label>
                                        <input asp-for="BuyerDetail.Fullname" class="form-control" placeholder="Nhập tên ..." required>
                                        <span asp-validation-for="BuyerDetail.Fullname" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="required"> E-mail</label>
                                        <input asp-for="Email" class="form-control" placeholder="Nhập email ..." required readonly>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-info">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label asp-for="BuyerDetail.Dob" class="required">Ngày sinh</label>
                                        <input asp-for="BuyerDetail.Dob" class="form-control" type="date" asp-format="{0:yyyy-MM-dd}" required>
                                        <span asp-validation-for="BuyerDetail.Dob" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BuyerDetail.Gender" class="required">Giới tính</label>
                                        <select asp-for="BuyerDetail.Gender" class="form-select">
                                            @if (Model.BuyerDetail.Gender)
                                            {
                                                <option value="true" selected>Nam</option>
                                                <option value="false">Nữ</option>
                                            }
                                            else
                                            {
                                                <option value="true">Nam</option>
                                                <option value="false" selected>Nữ</option>
                                            }
                                        </select>
                                        <span asp-validation-for="BuyerDetail.Gender" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BuyerDetail.Address" class="required"> Địa chỉ cửa hàng</label>
                                        <input asp-for="BuyerDetail.Address" class="form-control" placeholder="Nhập Địa chỉ cửa hàng ..." required>
                                        <span asp-validation-for="BuyerDetail.Address" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="BuyerDetail.Phone" class="required"> Số điện thoại</label>
                                        <input asp-for="BuyerDetail.Phone" class="form-control" placeholder="Nhập Số điện thoại ..." required>
                                        <span asp-validation-for="BuyerDetail.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <div class="bgrow bg-light rounded h-100 p-4 align-items-center">
                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
