@* @model COCOApp.Models.Product

<!DOCTYPE html>
<html lang="en">
<body>
    <!-- Form Start -->
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tổng kết</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tạo tổng kết</li>
            </ol>
        </nav>
        <form id="registerForm" asp-action="#" method="post">
            <div class="row bg-light rounded h-100 p-4">
                <div>
                    <h4 class="mb-4">Thêm mới hàng hóa</h4>
                </div>
                <div class="col">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="ProductName" class="required"> Tên hàng</label>
                                <input asp-for="ProductName" class="form-control" placeholder="Nhập tên hàng..." />
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="MeasureUnit" class="required"> Đơn vị tính</label>
                                <input asp-for="MeasureUnit" class="form-control" placeholder="Nhập đơn vị tính...">
                                <span asp-validation-for="MeasureUnit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Status" class="required">Trạng thái</label>
                                <select asp-for="Status" class="form-select">
                                    <option value="true">Đã kích hoạt</option>
                                    <option value="false">Chưa kích hoạt</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="bgrow bg-light rounded h-100 p-4 align-items-center">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Form End -->
    <!-- Content End -->
    @section Scripts {
        <script src="~/js/addUserScript.js"></script>
    }
</body>
</html>
 *@