@model COCOApp.Models.User
@{
    Layout = "_Layout";
}

<div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <form id="registerForm" asp-controller="User" asp-action="RegisterUser" method="post">
                    <div class="bg-light rounded p-4 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3 class="text-primary">
                                <img alt="" src="img/logo.png" width="100" height="100">
                            </h3>
                            <h3>COCO</h3>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" class="required">Email</label>
                            <input asp-for="Email" class="form-control" placeholder=" Nhập email..." required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Username" class="required">Tên đăng nhập</label>
                            <input asp-for="Username" class="form-control" placeholder=" Nhập tên đăng nhập..." required>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="required">Mật khẩu</label>
                            <div class="input-group" id="show_hide_password">
                                <input asp-for="Password" type="password" class="form-control" placeholder=" Nhập mật khẩu..." required>
                                <div class="input-group-addon">
                                    <a href="#" class="h-100 input-group-text" id="togglePassword">
                                        <i class="fas fa-eye-slash" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <label for="ConfirmPassword" class="required">Xác nhận mật khẩu</label>
                        <div class="input-group mb-4" id="show_hide_confirm_password">
                            <input type="password" id="ConfirmPassword" class="form-control" placeholder=" Xác nhận mật khẩu..." required>
                            <div class="input-group-addon">
                                <a href="#" class="h-100 input-group-text" id="toggleConfirmPassword">
                                    <i class="fas fa-eye-slash" aria-hidden="true"></i>
                                </a>
                            </div>
                            <span id="confirmPasswordError" class="text-danger"></span>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <a href="~/User/ViewForgotPassword">Quên mật khẩu</a>
                            <a href="~/Home/ViewSignIn">Đăng nhập</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#togglePassword").on('click', function (event) {
                event.preventDefault();
                var passwordField = $('#Password');
                var icon = $(this).find('i');
                if (passwordField.attr("type") == "text") {
                    passwordField.attr('type', 'password');
                    icon.addClass("fa-eye-slash").removeClass("fa-eye");
                } else if (passwordField.attr("type") == "password") {
                    passwordField.attr('type', 'text');
                    icon.addClass("fa-eye").removeClass("fa-eye-slash");
                }
            });

            $("#toggleConfirmPassword").on('click', function (event) {
                event.preventDefault();
                var confirmPasswordField = $('#ConfirmPassword');
                var icon = $(this).find('i');
                if (confirmPasswordField.attr("type") == "text") {
                    confirmPasswordField.attr('type', 'password');
                    icon.addClass("fa-eye-slash").removeClass("fa-eye");
                } else if (confirmPasswordField.attr("type") == "password") {
                    confirmPasswordField.attr('type', 'text');
                    icon.addClass("fa-eye").removeClass("fa-eye-slash");
                }
            });

            $("#registerForm").on('submit', function (event) {
                var password = $("#Password").val();
                var confirmPassword = $("#ConfirmPassword").val();
                if (password !== confirmPassword) {
                    event.preventDefault();
                    $("#confirmPasswordError").text("Mật khẩu và xác nhận mật khẩu không khớp.");
                } else {
                    $("#confirmPasswordError").text("");
                }
            });
        });
    </script>
}
