<!DOCTYPE html>
<html lang="en">
<body>

    <!-- Form Start -->
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="~/Customer/ViewList">Danh sách khách hàng</a></li>
                <li class="breadcrumb-item active" aria-current="page">Thêm mới khách hàng</li>
            </ol>
        </nav>
        <form id="registerForm" asp-action="AddUser" method="post">
            <div class="row bg-light rounded h-100 p-4">
                <div>
                    <h4 class="mb-4">Thêm mới khách hàng</h4>
                </div>
                <div class="col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="inputFullName" class="required">Tên khách hàng</label>
                                <input type="text" name="fullname" class="form-control fullname" placeholder="Nhập tên khách hàng..." id="inputFullName">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="inputPhone" class="required">Số điện thoại</label>
                                <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="Nhập số điện thoại...">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="selectStatus" class="required">Trạng thái</label>
                                <select class="form-select" name="status" id="selectStatus">
                                    <option value="true">Đã kích hoạt</option>
                                    <option value="false">Chưa kích hoạt</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="inputAddress" class="required">Địa chỉ</label>
                                <input type="text" name="address" class="form-control" id="inputAddress" placeholder="Nhập địa chỉ ...">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="inputNote">Ghi chú</label>
                                <input type="text" name="note" class="form-control" id="inputNote" placeholder="Nhập ghi chú ...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <div class="bgrow bg-light rounded h-100 p-4 align-items-center">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- Form End -->
    <!-- Content End -->
    @section Scripts {
        <script src="~/js/addUserScript.js"></script>
    }
</body>
</html>
