@{
    Layout = "_LayoutStoreDashBoard";
    ViewData["Title"] = "Customer List";
    var getListUrl = Url.Action("GetList", "Customer");
    var currentPage = ViewData["PageNumber"] ?? 1;
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Danh sách khách hàng</li>
            </ol>
        </nav>
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded shadow-sm h-100 p-4">
                    <h4 class="mb-4">Danh sách khách hàng</h4>
                    <div class="row g-4">
                        <div class="col-sm-4">
                            <input class="form-control" type="search" name="nameQuery" placeholder="Tìm kiếm ...">
                        </div>
                        <div class="col-sm-2">
                            <select class="form-select" name="statusId">
                                <option value="0" selected>Trạng thái</option>
                                <option value="1">Đã kích hoạt</option>
                                <option value="2">Chưa kích hoạt</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-primary" onclick="search()">Tìm</button>
                        </div>
                        <div class="col-sm-2 text-end">
                            <a href="~/Customer/ViewAdd" class="btn btn-sm btn-primary">
                                <i class="fas fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table table-striped w-100 resultTable">
                            <thead>
                                <tr>
                                    <th scope="col">Khách hàng</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Cập nhật ngày</th>
                                    <th scope="col">Trạng thái</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                            </thead>
                            <tbody class="resultTableBody">
                                <!-- Dynamic content will be loaded here -->
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-4 paginationContainer">
                        <div class="pageInfo">
                            <span class="pageNumber">1</span> / <span class="totalPages"></span> trang
                        </div>
                        <div>
                            <a onclick="prevPage()" class="prevPage pe-1" aria-label="Previous Page">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                            <a onclick="nextPage()" class="nextPage ps-1" aria-label="Next Page">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            var pageNumber = @currentPage;
            var getListUrl = '@getListUrl';
        </script>
        <script src="~/js/viewCustomersScript.js"></script>
    }
</body>
</html>
